@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
main{
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ccc;
}
section{
  width: 90%;
  height: 50%;
  min-height: 250px;
  max-width: 500px;
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
input{
  display: block;
}
form label{
  font-size: 16px;
}
#submit, #next{
  all: unset;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#submit:active, #next:active{
  border: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;

}
#output, #div-quest, #div-resposta{
  width: 90%;
  height: 100%;
  font-size: 23px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
